@*
     ctr k d (whole doc)
    ctr k f (choosen text)
*@
@{
    ViewBag.Title = "About";
}
<h2 class="bg-primary px-md-4 py-md-4 text-white">@ViewBag.Title</h2>
<h3 class="bg-secondary px-md-4  py-md-4">@ViewBag.Message</h3>

<main class="body-content">
    <div class="row">
        <div class="col-md-6 bg-white px-3 py-3 rounded-2">
            <p>
                "We are passionate about helping people of all ages and abilities to achieve their learning goals and life aspirations. Everything we do is geared to give you the best possible college learning experience and to enhance your future employment prospects.
            </p>
            <p>
                Take a look at our further education study programmes, our apprenticeships, or our adult programmes. You will find a guide to applying online and information about funding and how we support our students.  When you are ready to take your first steps into or return to college life, come along to one of our open days where you can; meet our highly qualified staff, see our brilliant facilities and learn how we can support and develop your skills through your educational journey.
            </p>
            <p>
                Our in-house Workzone team focus on work placements within the industry which are an integral part of our study programme. This is vital preparation for giving you the best possible start when seeking employment, an apprenticeship or in securing a place at University.
            </p>
            <p>
                You will find a warm welcome at all of our campuses in; Aylesbury, Amersham and High Wycombe. We are a thriving community of over 7,000 students and we're sure that whatever your dreams and career goals, we can help you to achieve them.
            </p>
            <p>
                With hundreds of different programmes available there is a course for everyone at Buckinghamshire College Group - our outstanding staff are experts in their fields and are passionate about sharing their knowledge. Our students can benefit from a seamless progression through different levels or onto new programmes including degree-level studies at our University Campus Aylesbury Vale.
            </p>
            <p>
                We hope you will want to be part of Buckinghamshire College Group and we very much look forward to welcoming you."
            </p>
            <p>
                Karen Mitchell
            </p>
            <p>
                Principal & Chief Executive
            </p>
        </div>

        <div class="video col-md-6 bg-dark bg-opacity-50 px-3 py-3 rounded-2">
            <div class="video-settng">
                <p class="text-white">Please watch lovely video about our fantasic uni that lasted for <span id="duration"></span> min</p>
            </div>
            <div id="video-placeholder"></div>
            <script src="https://www.youtube.com/iframe_api"></script>
        </div>
    </div>

</main>
<script src="~/Scripts/videoPlay.js"></script>

