@{
    ViewBag.Title = "Contact";
}
<h2 class="bg-primary px-md-4 py-md-4 text-white">@ViewBag.Title</h2>
<h3 class="bg-secondary px-md-4  py-md-4">@ViewBag.Message</h3>

<div class="row bg-dark text-white rounded bg-opacity-75">
    <section class="col-md-12">
        <div class="col-md-6 x-md-3 py-md-3">
            <a href="~/Home">Home</a>
            <span>></span>
            <a href="#">Contact Us</a>
        </div>
        <div class="col-md-12 x-md-1 py-md-1">
            <h2>Have a question? Get in touch</h2>
        </div>
    </section>
    <section class="col-md-12">
        <div class="sx-md-4 py-md-4">
            <a class="btn btn-outline-info mb-2" href="#">Amersham Campus</a>
            <address>
                <p>Stanley Hill</p>
                <p>Amersham</p>
                <p>Information and Technology College</p>
                <p>HP7 9HN</p>
                <p>Main reception number:</p>
                <p>01494 585 273</p>
            </address>
        </div>

        <div class="x-md-4 py-md-4">
            <a class="btn btn-outline-info mb-2" href="#">Wycombe Campus</a>
            <address>
                <p>Wycombe Campus</p>
                <p>Spring Lane</p>
                <p>High Wycombe</p>
                <p>Information and Technology College</p>
                <p>HP10 9HE</p>
                <p>Main reception number:</p>
                <p>01494 585 555</p>
            </address>
        </div>

        <div class="x-md-4 py-md-4">
            <a class="btn btn-outline-info mb-2" href="#">Aylesbury Campus</a>
            <address>
                <p>Oxford Road</p>
                <p>Aylesbury</p>
                <p>Information and Technology College</p>
                <p>HP21 8PD</p>
                <p>Main reception number:</p>
                <p>01296 588 588</p>
            </address>
        </div>
    </section>
</div>

