@{
    ViewBag.Title = "Home Page";
}

<div class="row p-3 mb-2 bg-light text-dark rounded">
    <div class="col-md-6 px-md-5 py-md-5 bg-secondary">
        <h2>
            We are the
            <span>Buckinghamshire College Group</span>
        </h2>
    </div>
    <div class="col-md-6 px-md-3 py-md-3 bg-secondary">
        <img src="https://media.studentcrowd.net/w852-h568-q90-cfill/1442239511_uploaded.png.webp" alt="Uni" />
    </div>
    <div class="col-md-6 px-md-5 py-md-5">
        <p>
            Whatever subject you’re interested in - whatever career you want to pursue, when you study a course with Bucks
            College Group you get more than a qualification, you will gain what we call...
        </p>
        <img class="w-100" src="https://www.holycross.ac.uk/img/sixth-form/courses/btec-level-3-courses/information-technology/head.jpg?61def616" alt="coruse" />
    </div>
    <div class="col-md-6 d-flex flex-column px-md-5 py-md-5">
        <h3>Latest News</h3>
        <a href="#">Sustainable Fashion Show</a>
        <img class="w-50" src="https://mma.prnewswire.com/media/1455281/Taipei_Fashion_Week_2.jpg?w=350"
             alt="WEAVISM worked with Hermin Textile and developed unconventional and sustainable fabrics using natural materials only. These functional natural fibers are biodegradable to eliminate microplastic issues in the ocean, and minimize harms to the earth." />
        <span>22-03-22</span>
        <p>Continuing on from the success of recent fundraising events, this March our Fashion Retail and Communication student are hosting the Florence Nightingale Hospice’s Sustainable Fashion Show.</p>
        <a href="" class="btn btn-outline-info w-50">Read More ...</a>
    </div>
    <div class="col-md-6 px-md-5 py-md-5 bg-secondary">
        <h3>I am looking for...</h3>
        <div class="col-md4">
            <button>Open Days </button>
            <button>Courses </button>
            <button>Job Vacancies</button>
        </div>
    </div>
    <div class="col-md-6 d-flex flex-column px-md-5 py-md-5 bg-secondary">
        <h3>Upcoming Events...</h3>
        <a href="#">Dance with us</a>
        <img src="https://www.theo2.co.uk/assets/img/Bollywood_950x440.jpg" />
        <span>22-03-22</span>
        <p>Continuing on from the success of recent fundraising events, this March our Fashion Retail and Communication student are hosting the Florence Nightingale Hospice’s Sustainable Fashion Show.</p>
        <a href="" class="btn btn-outline-info w-50">Read More ...</a>
    </div>
</div>