@model List<InformationandTechnologyCollege.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @foreach (var course in @Model)
    {

        <li>
            <a href="~/Course/Details/@course.CourseId">@course.Name</a>


        </li>
    }
</ul>