@model List<InformationandTechnologyCollege.Models.Course>

@{
    ViewBag.Title = "Index1";
}

<h2>
    Course 2: Software Engineering
</h2>
<div>
    <ul>
        @foreach (var course2 in @Model)
        {
            <li>
                <a href="~/Course/Details/@course2.CourseId">@course2.Name</a>
            </li>
        }
    </ul>
</div>
<h2>