@model List<InformationandTechnologyCollege.Models.Course>

@{
    ViewBag.Title = "Index2";
}
<section class="bg-white mt-5 px-3 py-3">
    <h2 class="bg-secondary bg-opacity-10 px-2 py-2 title rounded-2">Course 3: Cyber Security</h2>

    <div>
        <ul>
            @foreach (var course3 in @Model)
            {
                <li>
                    <a href="~/Course/Details/@course3.CourseId">@course3.Name</a>
                </li>
            }
        </ul>
    </div>
</section>
